# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*


.env
.env.*


.vscode/
.idea/


dist/
build/


*.cache
*.tmp
.DS_Store
Thumbs.db


/.vagrant/
/coverage/
*.pyc
__pycache__/


*.sublime-workspace
*.sublime-project
*.code-workspace